/*--<FONTS>--================================================================================================*/

/*--</FONTS>--======================================================================================================*/

/*--<NULL-STYLE>--======================================================================================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--</NULL-STYLE>--=====================================================================================================*/

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  font-family: "Arial MT";
  min-width: 320px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1195px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 10px;
}

.burger {
  position: absolute;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.burger__button {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #f1cdb3;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-in 0.1s;
  -o-transition: all 0.1s ease-in 0.1s;
  transition: all 0.1s ease-in 0.1s;
}

.burger__button::before {
  content: "";
  position: absolute;
  top: -300%;
  width: 100%;
  height: 100%;
  background-color: #f1cdb3;
  border-radius: 3px;
  -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
}

.burger__button::after {
  content: "";
  position: absolute;
  top: 300%;
  width: 100%;
  height: 100%;
  background-color: #f1cdb3;
  border-radius: 3px;
  -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
}

.burger__button.active {
  background-color: transparent;
  -webkit-transition: all 0.1s ease-in 0.1s;
  -o-transition: all 0.1s ease-in 0.1s;
  transition: all 0.1s ease-in 0.1s;
}

.burger__button.active:before {
  content: "";
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease 0.2s;
  transition: top 0.2s linear, transform 0.2s ease 0.2s;
  transition: top 0.2s linear, transform 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  background-color: #f1cdb3;
}

.burger__button.active:after {
  content: "";
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease 0.2s;
  transition: top 0.2s linear, transform 0.2s ease 0.2s;
  transition: top 0.2s linear, transform 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
  background-color: #f1cdb3;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup.opened {
  opacity: 1;
  visibility: visible;
}

.popup.opened .popup__content {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease-in 0s;
  -o-transition: all 0.8s ease-in 0s;
  transition: all 0.8s ease-in 0s;
  opacity: 0;
  visibility: hidden;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.popup__content {
  -webkit-box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
          box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
  max-width: 970px;
  border-radius: 9px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate(0px, -300%);
      -ms-transform: translate(0px, -300%);
          transform: translate(0px, -300%);
  -webkit-transition: all 0.8s ease-in 0s;
  -o-transition: all 0.8s ease-in 0s;
  transition: all 0.8s ease-in 0s;
}

.popup__closing-object {
  cursor: pointer;
  position: absolute;
  z-index: 11;
  right: -50px;
  top: -70px;
  font-size: 30px;
  line-height: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f1cdb3;
  text-align: center;
  background-color: #fff;
}

.popup__closing-object:hover {
  background-color: #f1cdb3;
  border: 1px solid #000;
}

.popup__foto {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-radius: 9px 0 0 9px;
  overflow: hidden;
}

.popup__foto img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup__info {
  margin: 60px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__title {
  color: #545454;
  font-family: "Georgia";
}

.popup__title h3 {
  font-size: 35px;
  letter-spacing: 2.1px;
  line-height: 45px;
}

.popup__title h4 {
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 34px;
}

.popup__text {
  margin: 33px 0px 0px 0px;
  color: #4c4c4c;
  font-family: "Arial MT";
  font-size: 15px;
  line-height: 24px;
}

.popup__character {
  margin: 33px 0px 0px 0px;
}

.popup__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__list li {
  position: relative;
  padding: 0px 0px 0px 15px;
  margin: 0px 0px 14px 0px;
  color: #545454;
  font-family: "Arial MT";
  font-size: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.9px;
}

.popup__list li span {
  font-family: Georgia;
  font-size: 17px;
  letter-spacing: 1.02px;
}

.popup__list li:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f1cdb3;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*--HEADER--====================================================================================================*/

.burger {
  display: none;
}

.btn {
  overflow: hidden;
}

.btn a:hover,
.btn span:hover {
  background-color: #fddcc4;
}

.btn span,
.btn a {
  background-color: #f1cdb3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
  font-family: "Georgia";
  font-size: 17px;
  letter-spacing: 1.02px;
}

.no-webp .header {
  background: url(../img/header_bg.png) center/cover no-repeat; }

.header {
  width: 100%;
  min-height: 100vh;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row {
  margin: 59px 0px 0px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__label {
  display: inline-block;
  color: #f1cdb3;
  font-family: "Georgia";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.13px;
}

.header__label p {
  margin: 8px 0px 0px 0px;
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 13px;
  letter-spacing: 1.3px;
}

.header__menu.active {
  right: 0;
}

.header__menu {
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 470px;
          flex: 0 1 470px;
}

.header__menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-link {
  position: relative;
}

.header__menu-link a {
  color: #cdcdcd;
  font-family: "Arial MT";
  font-size: 15px;
}

.header__menu-link a:before {
  content: '';
  width: 0;
  height: 3px;
  background-color: #f1cdb3;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.header__menu-link:hover a:before {
  content: '';
  width: 100%;
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

.header__content {
  max-width: 443px;
  margin: 251px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__content-title {
  color: #ffffff;
  font-family: "Georgia";
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 2.64px;
}

.header__content-text {
  margin: 46px 0px 0px 0px;
  color: #cdcdcd;
  font-family: "Arial MT";
  font-size: 15px;
  line-height: 24px;
}

.header__content-btn {
  margin: 44px 0px 0px 0px;
  width: 205px;
  height: 52px;
  border-radius: 26px;
}

/*--/HEADER--====================================================================================================*/

/*--FOOTER--====================================================================================================*/

.no-webp .footer {
  background: url(../img/footer_bg.png) center/cover no-repeat; }

.footer {
  overflow: hidden;
}

.footer__body {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__body-bg {
  position: absolute;
  width: 300px;
  height: 316px;
  bottom: 0;
  right: 0;
}

.footer__body-bg img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__column {
  max-width: 300px;
  margin: 79px 174px 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column-title {
  color: #ffffff;
  font-family: "Georgia";
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 2.1px;
}

.footer__column-link {
  margin: 35px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column-link img {
  margin: 0px 20px 0px 0px;
  max-width: 40px;
  max-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column-link a {
  color: #f1cdb3;
  font-family: "Times New Roman PSMT";
  font-size: 20px;
  letter-spacing: 1.2px;
}

.footer__column-link a:hover {
  color: #fddcc4;
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

/*--/FOOTER--====================================================================================================*/

.headerpets {
  width: 100%;
  overflow: hidden;
}

.headerpets .header__row {
  margin: 30px 0px;
}

.headerpets .header__label {
  color: #000000;
}

.headerpets .header__label p {
  color: #000000;
}

.headerpets .header__menu-link a {
  color: #000000;
}

.headerpets .header__menu-link:nth-child(2) a:before {
  content: '';
  width: 100%;
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

.petscontent {
  width: 100%;
  overflow: hidden;
}

.petscontent__body {
  width: 100%;
  margin: 68px 0px 64px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.petscontent__title {
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 396px;
  color: #545454;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.1px;
}

.petscontent__pets {
  margin: 62px 0px 0px 0px;
}

.petscontent__pets-tab {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.petscontent__pets-tab-cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
  margin: 15px;
}

.petscontent__btns {
  margin: 62px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.petscontent__btn {
  margin: 0px 9px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #f1cdb3;
}

.petscontent__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #292929;
  font-family: "Times New Roman PSMT";
  font-size: 20px;
  letter-spacing: 1.2px;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__btn.active {
  background-color: #f1cdb3;
}

.tabs__btn {
  cursor: pointer;
}

/*--<MAIN>--====================================================================================================*/

.about {
  background-color: #fafafa;
  overflow: hidden;
}

.about__body {
  margin: 89px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  width: 300px;
  height: 408px;
}

.about__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__content {
  max-width: 420px;
  margin: 0px 0px 0px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__content-text h2 {
  color: #545454;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.6px;
}

.about__content-text p {
  margin: 35px 0px 0px 0px;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 24px;
}

.friends {
  background-color: #f6f6f6;
  overflow: hidden;
}

.friends__body {
  margin: 70px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.friends__title {
  margin: 0px auto;
  max-width: 350px;
  color: #545454;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.1px;
}

.friends__slider {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 73px 0px 0px 0px;
  padding: 0px 80px;
  min-width: 0;
  position: relative;
}

.friends__slider .slick-slider {
  min-width: 0;
}

.friends__slider .slick-list {
  overflow: hidden;
}

.friends__slider .slick-track {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friends__slider .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends__slider .slick-arrow {
  z-index: 3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background-color: #ffffff;
  font-size: 0;
}

.friends__slider .slick-arrow:hover {
  background-color: #f1cdb3;
}

.friends__slider .slick-arrow:after,
.friends__slider .slick-arrow:before {
  content: '';
  height: 3px;
  width: 15px;
  background-color: #000000;
  position: absolute;
  left: 30%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.friends__slider .slick-arrow.slick-prev {
  left: 0px;
}

.friends__slider .slick-arrow.slick-prev:after {
  content: "";
  top: 15px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.friends__slider .slick-arrow.slick-prev:before {
  content: "";
  bottom: 19px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.friends__slider .slick-arrow.slick-next {
  right: 0px;
}

.friends__slider .slick-arrow.slick-next:after {
  content: "";
  top: 15px;
  left: 36%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.friends__slider .slick-arrow.slick-next:before {
  content: "";
  left: 36%;
  bottom: 19px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.friends__slider-slide {
  padding: 10px 0px;
}

.friends__cart {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #f1cdb3;
          box-shadow: 0 0 10px #f1cdb3;
}

.friends__cart-img {
  width: 216px;
  height: 263px;
}

.friends__cart-img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.friends__cart-name {
  margin: 29px 0px 0px 0px;
  color: #545454;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 1.2px;
}

.friends__cart-btn {
  margin: 24px auto 30px auto;
  width: 188px;
  height: 52px;
  border-radius: 26px;
  border: 1px solid #f1cdb3;
}

.friends__cart-btn a {
  cursor: pointer;
  background-color: #fafafa;
}

.friends__cart-btn a:hover {
  background-color: #f1cdb3;
}

.friends__btn {
  margin: 60px auto 0px auto;
  width: 267px;
  height: 52px;
  border-radius: 26px;
}

.help {
  background-color: #fafafa;
  overflow: hidden;
}

.help__body {
  width: 100%;
  margin: 72px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__title {
  margin: 0px auto;
  max-width: 320px;
  text-align: center;
  color: #545454;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.1px;
}

.help__products {
  margin: 77px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__products-item {
  padding: 0px 5px;
  margin: 0px 0px 79px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__products-item:last-child {
  margin: 0px 0px 0px 0px;
}

.help__products-item-icon {
  width: 65px;
  height: 65px;
}

.help__products-item-icon img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.help__products-item-name {
  margin: 30px 0px 0px 0px;
  text-align: center;
  color: #545454;
  font-family: "Georgia";
  font-size: 20px;
  letter-spacing: 1.2px;
  word-wrap: none;
}

.donat {
  background-color: #f6f6f6;
  overflow: hidden;
}

.donat__body {
  margin: 72px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donat__img {
  max-width: 505px;
  max-height: 261px;
}

.donat__img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.donat__column {
  margin: 0px 0px 0px 62px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #545454;
  font-family: "Georgia";
}

.donat__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.1px;
}

.donat__subtitle {
  margin: 35px 0px 0px 0px;
  font-size: 15px;
  letter-spacing: 0.9px;
}

.donat__btn {
  margin: 13px 0px 0px 0px;
  padding: 0px 15px;
  max-width: 319px;
  height: 47px;
  border-radius: 9px;
  background-color: #f1cdb3;
  overflow: hidden;
}

.donat__btn:hover {
  background-color: #fddcc4;
}

.donat__btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donat__btn a img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 30px;
  max-height: 24px;
}

.donat__btn a span {
  margin: 0px 0px 0px 15px;
  color: #292929;
  font-family: "Times New Roman PSMT";
  font-size: 20px;
  letter-spacing: 1.2px;
  white-space: nowrap;
}

.donat__text {
  margin: 33px 0px 0px 0px;
  color: #b2b2b2;
  font-family: "Arial - Italic MT";
  font-size: 12px;
  line-height: 18px;
}

/*--</MAIN>--===================================================================================================*/

@media (max-width: 1207px) {
  .container {
    max-width: 970px;
  }

  .footer__column {
    margin: 79px 55px 70px 0px;
  }

  .petscontent__pets-tab-cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .friends__slider {
    padding: 0px 50px;
  }
}

@media (max-width: 1092px) {
  .popup__content {
    max-width: 850px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .popup__content {
    max-width: 700px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__column {
    max-width: 60%;
    margin: 30px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .petscontent__pets-tab-cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }

  .about__content {
    margin: 0px 0px 0px 30px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .popup__content {
    min-width: 320px;
    max-width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .popup__closing-object {
    right: 20px;
    top: 20px;
  }

  .popup__info {
    margin: 40px 0px;
  }

  .popup__text {
    margin: 15px 0px 0px 0px;
    padding: 0px 10px;
  }

  .popup__list {
    text-align: left;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .header__row {
    margin: 40px 0px 0px 0px;
  }

  .header__menu {
    position: fixed;
    top: 30px;
    right: -120%;
    display: block;
    width: 80%;
    height: 80%;
    background-color: #13181e;
    border-radius: 50px 0 0 50px;
    overflow: auto;
  }

  .header__menu .header__menu-list {
    margin: 80px 0px 0px 0px;
    display: block;
    text-align: center;
  }

  .header__menu .header__menu-link {
    margin: 20px auto;
    width: 50%;
    height: 40px;
    border-radius: 35px;
    overflow: hidden;
  }

  .header__menu .header__menu-link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #f1cdb3;
  }

  .header__content {
    margin: 150px 0px 40px 0px;
  }

  .header__content-btn {
    width: 150px;
    height: 40px;
  }

  .footer__body-bg {
    opacity: 0.2;
  }

  .footer__column {
    max-width: 90%;
    margin: 30px auto;
  }

  .petscontent__body {
    margin: 40px 0px 35px 0px;
  }

  .petscontent__pets {
    margin: 40px 0px 0px 0px;
  }

  .petscontent__pets-tab-cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0px;
  }

  .about__content {
    margin: 30px 0px 0px 0px;
    text-align: center;
  }

  .about__content-text h2 {
    letter-spacing: 2px;
    font-size: 32px;
    line-height: 36px;
  }

  .about__content-text p {
    margin: 20px 0px 0px 0px;
  }

  .help__body {
    margin: 40px 0px;
  }

  .help__products {
    margin: 50px 0px 0px 0px;
  }

  .help__products-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    margin: 0px 0px 50px 0px;
  }

  .donat__body {
    margin: 40px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .donat__column {
    margin: 40px 0px 0px 0px;
    padding: 0px 10px;
  }
}

@media (max-width: 425px) {
  .help__products-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 374.98px) {
  .header__content {
    margin: 80px 0px 40px 0px;
  }

  .header__content-title {
    font-size: 36px;
    line-height: 40px;
  }

  .header__content-text {
    margin: 30px 0px 0px 0px;
  }

  .header__content-btn {
    margin: 30px 0px 0px 0px;
  }

  .footer__column-title {
    font-size: 30px;
  }

  .footer__column-link {
    margin: 20px 0px 0px 0px;
  }

  .petscontent__title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 2px;
  }

  .petscontent__pets-tab-cart {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 10px;
  }

  .friends__slider {
    padding: 0px 10px;
  }

  .friends__slider .slick-arrow {
    top: -20px;
  }
}

.webp .header { background: url(../img/header_bg.webp) center/cover no-repeat; }

.webp .footer { background: url(../img/footer_bg.webp) center/cover no-repeat; }